<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Title</title>
<link  th:replace="layouts/base_template :: bootstrap()" />
</head>
<body>
	<nav th:replace="layouts/base_template :: navi()"></nav>

	<div class="container">
	表(テーブル) with JDBC Template
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th>アカウントid</th>
					<th>アカウント名</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="account : ${accounts}">
					<td th:text="${account.id}"></td>
					<td th:text="${account.name}"></td>
				</tr>
			</tbody>
		</table>

	</div>
	<script th:replace="layouts/base_template :: jquery()"></script>
	<script th:replace="layouts/base_template :: bootstrap_jquery()"></script>
</body>
</html>