<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Title</title>
<link  th:replace="layouts/base_template :: bootstrap()" />
</head>
<body>
	<nav th:replace="layouts/base_template :: navi()"></nav>

	<div class="container">
		<form th:action="@{./confirm}" method="post">
		<input type="text" name="userId" th:value="${userForm.userId}">
		<input type="text" name="userName" th:value="${userForm.userName}">
		<input type="submit">
		</form>
	</div>
	<script th:replace="layouts/base_template :: jquery()"></script>
	<script th:replace="layouts/base_template :: bootstrap_jquery()"></script>
</body>
</html>